@import url('./__menu/footer__menu.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    width: 1184px;
    margin: 0 auto 48px;
    display: flex;
    justify-content: space-between;
    
}