.cover__subtitle {
    position: absolute;
    width: 382px;
    left: 401px;
    top: 477px;
    margin: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}