.events__title-text {
    color: white;
    font-family: Banny;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 12px;
    
    
    
    text-indent: 20px;
    text-transform: uppercase;
    
}