.barentsburg__coord {
    width: 583px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 46px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 61px;

    color: #FFFFFF;
}