.video__subtitle {
    position: absolute;
    top: 280px;
    left: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;

    color: #FFFFFF;
    z-index: 2;
}