.lead__subtitle {
    font-family: 'Inter';
    font-weight: normal;
    font-size: 30px; 
    line-height: 36px;
    width: 583px;
    margin: 0 auto 78px;
    text-align: center;
    color: #FFF;
}