.video__title {
    position: absolute;
    top: 189px;
    left: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;

    color: #FFFFFF;
    z-index: 2;
}