.cover__title {
    position: absolute;
    width: 1094.27px;
    left: 38.85px;
    top: 274px;
    margin: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    z-index: 2;
    color: #FFFDFD;
}