@import url('../header/__logo/header__logo.css');
@import url('./__lang/header__lang.css');


.header {
    width: 1184px;
    height: 52px;
    margin: 30px auto 48px;
    background-color: #2A2C2F;
    font-family: 'Inter';
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}