@import url('./events__title/events__title.css');
@import url('./events__title/events__title-text.css');
@import url('./events__title/events__title_left.css');
@import url('./events__title/events__title_right.css');
@import url('events__information/events__information.css');

.events {
    position: relative;
    width: 100%;
    max-width:  1441px;
    margin: 100px auto;
    padding: 1px 0;
    background-image: url('./specialty\'s-bg.jpg');
    color: white;
}