@import url('../__item-bg/video__item-bg.css');
@import url('../__icon/video__icon.css');
@import url('../__icon/_type/video__icon_type_play.css'); /*позиционирование иконки*/
@import url('../__duration/video__duration.css');
@import url('../__title/video__title.css');
@import url('../__subtitle/video__subtitle.css');
@import url('../__text/video__text.css');

.video__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
