@import url('./photo-grid__item/photo-grid__item.css');

.photo-grid {
    width: 1184px;
    margin: 0 auto 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
}