

.lead__title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    width: 782px;
    margin: 0 auto 48px;
    text-align: center;
    color: #FFF;
}