.additional__text {
    margin: 0px;
    position: absolute;
    width: 248px;
    top: 246px;
    left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    z-index: 2;
}